asgiref==3.9.1
bibtexparser==1.4.3
cffi==2.0.0
charset-normalizer==3.4.3
cryptography==46.0.2
Django==5.2.8
lxml==6.0.2
numpy==1.26.4
openpyxl==3.1.5
pandas==2.2.3
pdfminer.six==20250506
pdfplumber==0.11.7
plotly==5.24.1
pycparser==2.23
pyparsing==3.2.5
PyPDF2==3.0.1
pypdfium2==4.30.0
python-docx==1.2.0
scikit-learn==1.5.2
sqlparse==0.5.3
typing_extensions==4.15.0
tzdata==2025.2
python-dotenv
whitenoise
requests
openai
pypdf
psycopg[binary]>=3.1.8,<4
